{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="">
            <h1 class="my-1">Game Store</h1>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Welcome, {{ user.username }}
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                          </div>
                        </div>
                    {% else %}
                        <li class="nav-item {% if 'login' in request.path %} active {% endif %}">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}
                    <li class="nav-item {% if 'index' in request.path %} active {% endif %}">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item {% if 'news' in request.path %} active {% endif %}">
                        <a class="nav-link" href="{% url 'news' %}">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                 </li>
            </ul>
        </div>
    </div>
</nav>