{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="mx-auto">
            <div class="card">
                <div class="card-header bd-primary text-black">
                    <h4><i class="fas fa-user-plus"></i>Registration</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary" type="submit">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}