{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        {% for game in games %}
          <div class="col-md-3">
            <br>
            <div class="card">
              <img class="card-img-top" src="{{ game.image.url }}" alt="">
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{% url 'game_page' game.id %}">{{ game.title }}</a>
                </h4>
                <h5>₴{{ game.price }}</h5>
                <p class="card-text">{{ game.description|truncatechars:100 }}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
</div>

{% endblock %}