.game-info {
    padding-top: 25px;
}

.game-info img {
    vertical-align: middle;
    height: 400px;
}

.news-info {
    padding-top: 25px;
    padding-bottom: 25px;
}

.row {
    padding-top: 25px;
    padding-bottom: 25px;
}

