.news-info {
    padding-top: 25px;
    padding-bottom: 25px;
}

.row {
    padding-top: 35px;
    padding-bottom: 35px;
}

.news-details  img {
    vertical-align: middle;
}

.game-info {
    padding-top: 25px;
}