{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jopless Store</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet"> <!--Getting CSS from static folder-->
    <link href="{% static 'css/shop-child.css' %}" rel="stylesheet"/> <!--CSS Styling for inheritated templates-->
    <!-- Custom styles for this template -->
    <link href="{%  static 'css/shop-homepage.css' %} " rel="stylesheet"> <!--Getting CSS from static folder-->
</head>

<body>

<!-- Navigation -->
{% include 'partials/_navbar.html' %}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">
        {% if '/games' in request.path %}
            <div class="list-group">
                <a href="#" class="list-group-item">Adventure</a>
                <a href="#" class="list-group-item">Racing</a>
                <a href="#" class="list-group-item">Shooting</a>
            </div>
        {% endif %}
        </div>
        <!-- /.col-lg-3 -->
        <!--Main content-->
        {% block content %}
        {% endblock %}
        <!-- /.row -->

    </div>
</div>
    <!-- /.container -->

    <!-- Footer -->
{% include 'partials/_footer.html' %}

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</div>
</body>

</html>
