{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="mx-auto">
            <h1>Success!</h1>
            <h3> Thank you for your message. We will check it soon!</h3>
            <div style='position:relative; padding-bottom:calc(69.61% + 44px)'><iframe src='https://gfycat.com/ifr/FlusteredGrayIrishdraughthorse' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div><p> <a href="https://gfycat.com/flusteredgrayirishdraughthorse">via Gfycat</a></p>
        </div>
    </div>
</div>
{% endblock %}